
<hr>

<img src="assets/Top Banner.jpg" height="110" width="1278">




<div id="main container">
  <div id="left">
    <button class="btn  ">Latest....</button>


  </div>

  <div id="center">
    <marquee direction="left" style=" padding-top: 2.5px;  height: 33px;width: 1039px; color: #FFFFFF" bgcolor="#00224f"
      onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="200" behavior="loop">
      *ICEGATE users can now update their registered email ID through the Portal.Please click here for downloading the
      Email Change Advisory
    </marquee>

  </div>

  <div id="right">
    <button class="btn ">Last Updated Date</button>


  </div>
</div>
  


<div>
  <router-outlet></router-outlet>

</div>